<section class="landing home">
    {{ theme:partial src="landing" }}
</section>
<section class="slogan white_text">
  <div class='slogan_bg'>
    {{ theme:partial src="slogan" }}
  </div>
</section>
<section class="services white_text home">
      {{ theme:partial src="services" }}
</section>
<section class="about">
  <div class="about_bg home">
    {{ theme:partial src="about" }} 
  </div>       
</section>
<section class="testimonials white_text home">
    {{ theme:partial src="testimonials" }}
</section>
<section class="links white_text">
  <div class="links_bg home">
    {{ theme:partial src="links" }}
  </div>
</section>