	
	#wb-layout-header,
	#wb-layout-sidebar {
		display: none;
	}
	
	#wb-layout-header-base {
		display: block;
		width: 844px;
		height: 5px;
		background-color: transparent;
		background-image: url(../images/layout5/header-base.png);
		background-position: top left;
		background-repeat: repeat-y;
	}
	
	/* MAIN-CONTENT Area */
	#wb-layout-main {
		width:822px;
		height: 100%;
		margin-left: 10px;
		float: none;
		background-color: transparent;
		background-image: url(../images/layout5/content-bg.jpg);
		background-position: top left;
		background-repeat: repeat-y;
	}
	
	#wb-layout-main-inner-1 {
		background-color: transparent;
		background-image: none;
		background-position: top left;
		background-repeat: no-repeat;
	}
	
	#wb-layout-main-inner-2 {
		background-color: transparent;
		background-image: none;
		background-position: bottom left;
		background-repeat: no-repeat;
	}
