
	#wb-layout-header-mask {
		background-image: url(../images/layout2/header-bg.png);
	}
	
	* html #wb-layout-header-mask {
	    background-image:none;
	    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=images/layout2/header-bg.png));		
	}
				
	#wb-layout-header-base {
		background-image: url(../images/layout2/header-base.png);		
	}
	
	* html #wb-layout-header-base {
	    background-image:none;
	    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=images/layout2/header-base.png));		
	}
	
	/* SIDEBAR is for designs that have a left or right column built in */
	#wb-layout-sidebar { 
        float: left;
        padding-right: 0px;
        padding-left: 10px;
		background-image: none;
		background-position: top left;
	}
	
	/* sidebar navigation */
	
	#wb-navigation-top {
		background-image: url(../images/layout2/navigation-top.png);
	}
	
	* html #wb-navigation-top {
	    background-image:none;
	    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=images/layout2/navigation-top.png));		
	}
	
	#wb-navigation-bottom {
		background-image: url(../images/layout2/navigation-bottom.png);
	}
	
	* html #wb-navigation-bottom {
	    background-image:none;
	    		
	}
	
	/*
	#wb-basenav {
	}
	#wb-navbasewrap {
	}
	*/
	
	/* MAIN-CONTENT Area */
	#wb-layout-main {
		margin-left: 0px;
		margin-right: 11px;
		float: right;
		background-image: url(../images/layout2/content-bg2.jpg);
		background-position: top left;
	}
