<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="_add-ons/responsive-slides/responsiveslides.min.js"></script>
<script>
  $(function() {
    $(".rslides").responsiveSlides();
  });
</script>
<div class="section_wrapper">
  <h1>OUR STORY</h1>
  <p>Glen Shelly is operated by Bart Rose and Alex McCulloch. We are two friends, airline pilots, mechanics, and auto enthusiasts who bring a high level of professionalism and attention to detail to the automobile business. We consider ourselves to be anything but stereotypical car salesmen. Glen Shelly Auto Brokers was started after many long discussions between the two of us about how connecting the right person to the right car could build a better business in the pre-owned auto industry. We have over 20 years of experience restoring and repairing automobiles and are intimately familiar with our cars. We do the inspections, service, detailing, and corrective maintenance ourselves using only OEM parts and service manuals. </p>
  <div class="bio">
    <ul class="rslides">
      <li><img src="assets/img/site_images/bart.jpg" alt=""></li>
      <li><img src="assets/img/site_images/bart1.jpg" alt=""></li>
      <li><img src="assets/img/site_images/bart2.jpg" alt=""></li>
      <li><img src="assets/img/site_images/bart3.jpg" alt=""></li>
      <li><img src="assets/img/site_images/bart4.jpg" alt=""></li>
      <li><img src="assets/img/site_images/bart5.jpg" alt=""></li>
      <li><img src="assets/img/site_images/bart6.jpg" alt=""></li>
      <li><img src="assets/img/site_images/bart7.jpg" alt=""></li>
    </ul>
    <p><strong>Bart Rose</strong> is the founder of the business and is responsible for its day to day operations. He graduated with an MBA from the University of Colorado in 2004 and has been a commercial airline pilot since 2007. Bart spends much of his free time backcountry skiing in the snowy months and climbing, hiking and camping in the warmer months. He drives a 1994 Toyota 4Runner in nearly new condition.</p>
  </div>
<!--   <br style="clear:both" /> -->
  <div class="bio">    
    <ul class="rslides">
      <li><img src="assets/img/site_images/alex.jpg" alt="Alex McCulloch"></li>
      <li><img src="assets/img/site_images/alex1.jpg" alt="Alex McCulloch"></li>
      <li><img src="assets/img/site_images/alex2.jpg" alt="Alex McCulloch"></li>
      <li><img src="assets/img/site_images/alex3.jpg" alt="Alex McCulloch"></li>
      <li><img src="assets/img/site_images/alex4.jpg" alt="Alex McCulloch"></li>
      <li><img src="assets/img/site_images/alex5.jpg" alt="Alex McCulloch"></li>
      <li><img src="assets/img/site_images/alex6.jpg" alt="Alex McCulloch"></li>
      <li><img src="assets/img/site_images/alex7.jpg" alt="Alex McCulloch"></li>
      <li><img src="assets/img/site_images/alex8.jpg" alt="Alex McCulloch"></li>
      <li><img src="assets/img/site_images/alex9.jpg" alt="Alex McCulloch"></li>
      <li><img src="assets/img/site_images/alex10.jpg" alt="Alex McCulloch"></li>
      <li><img src="assets/img/site_images/alex11.jpg" alt="Alex McCulloch"></li>
    </ul>
    <p><strong>Alex McCulloch</strong> is our renaissance man. In addition to being a full-time airline pilot, he is a passionate auto enthusiast, skilled mechanic, and experienced performance driver. His credentials include: BMW Car Club of America (CCA) Performance Driving Instructor, longtime BMW CCA member, and published automobile writer. Alex also holds a National Auto Sport Association competitive racing license. He is a meticulous mechanic who has obsessively restored, rejuvenated, and built many cars from stock daily drivers to high-performance racing machines. Outside of the car world, Alex enjoys the outdoor lifestyle, mountain biking, snowboarding, and hang gliding. Alex specializes in BMWs, but is also highly experienced with Toyotas, Hondas, Nissans, Fords, and Volkswagens. He takes great satisfaction in using his knowledge and experience to match the right car with the right person to foster their automobile passion.</p>
  </div>
</div>