<div class="section_wrapper">
  <h1>OUR SERVICES</h1>
  <p>Glen Shelly is a low volume auto broker and seller focused on the highest quality vehicles. We offer an informed and low-pressure sales environment resulting in a premium buying experience for you.</p><br> 
  <p>As brokers we specialize in high quality, hard to find cars and motorcycles. We have worked with numerous clients to find the exact car that he or she is looking for.</p><br>
  <p>At our office in Denver, Colorado we keep a small inventory of vehicles that we have acquired through wholesale and retail sources throughout the country. We typically deal in practical and efficient sedans and SUVs as well as high performance sports cars. We keep our inventory small so that we can focus on thorough mechanical and cosmetic preparation of the vehicles we select.</p>
</div>