<a href="inventory/sold-full/{{ slug }}">
  {{ get_files in="/assets/img/{{ slug }}" limit="1"}}
  <h3>{{ model }}</h3> 
  <div class="sold-full-listing">
         <!--  <img src="{{ transform src='{{ file }}' width='600' height='400' action="smart" }}" alt="{{ model }}" class="feature_image_sold" /> -->
      <img src="{{ file }}" width='600' alt="{{ model }}" class="feature_image_sold" />
      {{ /get_files }}
      <div class="text_overlay">
        <ul>
          <li>SOLD</li>
          <li>{{ mileage }}</li>
        </ul>
      </div>
      {{ if !last }} <hr class="sold-hr"> {{ endif }} 
  </div>
</a>  