 <div class="section_wrapper"> 
  <h1>TESTIMONIALS</h1>
  <p>Alex, please accept my thanks again for the great job you did. It was a pleasure from beginning to end. You showed yourself to be an enthusiast as well as a great guy. This is the first time I have ever used a broker. Here is more proof that it was a great decision...Three days to sell my car is a record that I certainly could not have met by myself. Selling it for more than I expected is extra sweet. I will not hesitate to call you again and will recommend Glen Shelly Auto Brokers to anyone interested in selling their car.</p>
  <p class="right">-M.R. Mitchell</p>

  <p class="block">I recommend Glen Shelly Auto Brokers to any Coloradoan who wants a reliable, used vehicle at a great price. My truck was damaged in an accident and I needed a new car for a very specific price, and quickly. Bart is trustworthy and pleasant. He listened to exactly what I wanted in a new car and found it on the first day he started looking. Throughout the process Bart had my best interests in mind. I will always buy future vehicles from Glen Shelly and will recommend them highly to my friends and family. I love my new car!</p>
  <p class="right">-Lisa Teesch-Maguire</p>
</div>